body {
    margin     : 0;
    padding    : 0;
    box-sizing : border-box;
    background : rgb(32, 59, 100);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    font-size       : 5rem;
    line-height     : 1;
    color           : #fff;
    padding         : 0.125em 0.5em;
    margin-bottom   : 1em;
    background-color: rgb(38, 166, 96);
}

.container {
    display                 : flex;
    justify-content         : center;
    align-items             : center;
    flex-direction          : column;
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 400px)); */
    gap                     : 5px;
    color                   : #fff;
    font-weight             : bold;
}

.item {
    background: rgb(115, 205, 149);
}

/* .min {
    width: min(500px, 50%);
} */

/* .max {
    width: max(500px, 50%);
} */

/* .clamp {
    width: 50vw;
    max-width: 400px;
    min-width: 200px;

    width: clamp(200px, 50vw, 400px);
} */

/* .min-content {
    width: min-content;
} */

/* .max-content {
    width: max-content;
} */

/* .fit-content {
    width: fit-content;
} */

/* .calc {
    width: calc(90% - 10px);
} */